#container-grid {
  display: grid;
  grid-template-areas:
    'feed' 'player',
    'feed' 'note-box';
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
/* 
#nav {
  background-color: green;
  position: absolute;
  z-index: 1;
  width: 100%;
  grid-area: nav;
} */

#feed{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 10px;
  grid-area: feed;
  position: relative;
  top: 0;
  height: 500px;
  width: 50%;
  overflow: scroll; 
}

#feed-items{
  list-style-type: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
  border: 3px solid tomato;
}

/* #main{
  display: grid;
  grid-template-areas: 
    'player'
    'note-box';
  grid-row: 50% 50%;
  background-color: aqua;
  grid-area: main;
} */

#wrapper{
  display: flex;
  flex-direction: row;
}

#player{
  grid-area: player;
  height: 50%;
  padding-left: 50px;
  padding-bottom: 50px;
}

#note-box{
    grid-area: note-box;
    padding-left: 50px;

    

}








  
